
@{
    ViewBag.Title = "Editar_Anestesiologo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Editar Anestesiologo";
}

<h3>@ViewData["Title"]</h3>
<hr/>


<form action="/Editar/UpdateAnestesiologo" method="post" id="editAnestesiologo">

    <div class="mb-3">
        <label class="form-label">Id Anestesiologo</label>
        <input type="number" name="id_anestesiologo" value="@Request.QueryString["id"]" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label class="form-label">Cedula</label>
        <input type="text" name="cedula_txt" class="form-control" value="@Request.QueryString["cedula"]" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" name="nombre_txt" class="form-control" value="@Request.QueryString["nombre"]" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Especialidad</label>
        <input type="text" name="especialidad_txt" value="@Request.QueryString["especialidad"]" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Status</label>
        <input type="text" name="status_txt" value="@Request.QueryString["status"]" class="form-control" required />
    </div>

    <div class="flex-column">
        <a href="https://localhost:44304/Consultar/Consultar_Anestesiologo"> <btn class="btn btn-danger" style="background:Red" required>Cancelar</btn></a>
        <button type="submit" for="editAnestesiologo" class="btn btn-success">Update</button>
    </div>


</form>






