
@{
    ViewBag.Title = "Editar_Cirujano";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Editar Cirujano";
}


<h3>@ViewData["Title"]</h3>
<hr />


<form action="/Editar/UpdateCirujano" method="post" id="editCirujano">

    <div class="mb-3">
        <label class="form-label">Id Cirujano</label>
        <input type="number" name="idcirujano_txt" value="@Request.QueryString["id"]" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label class="form-label">Cedula</label>
        <input type="text" name="cedula_txt" class="form-control" value="@Request.QueryString["cedula"]" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" name="nombre_txt" class="form-control" value="@Request.QueryString["nombre"]" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Especialidad</label>
        <input type="text" name="especialidad_txt" value="@Request.QueryString["especialidad"]" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Status</label>
        <input type="text" name="status_txt" value="@Request.QueryString["status"]" class="form-control" required />
    </div>

    <div class="flex-column">
        <a href="https://localhost:44304/Consultar/Consultar_Cirujano"> <btn class="btn btn-danger" style="background:Red" required>Cancelar</btn></a>
        <button type="submit" for="editCirujano" class="btn btn-success">Update</button>
    </div>


</form>






